***Module2***

In [ ]:

print('Hello Wold')

Hello Wold

In [ ]:
a=5
b=2
c=9
y=a+b+c
print(y)
x=a+\
b+\
c
print(x)

16
16

In [ ]:
a='Nactar'
b="Nactar"
print(a)
print(b)

Nactar
Nactar

In [ ]:
suci="""
Hi Suci! How are you.
I'm your mom from Noakhali
I want to talk to you.
Why you always putting your phone off?
       """

print(suci)

Hi Suci! How are you.
I'm your mom from Noakhali
I want to talk to you.
Why you always putting your phone off?

In [ ]:
'''hbhacvvdas
hggsavdgngdhgjk
hgagsgasdgvgjgj'''
print('Suci')
#Hi Hello Bye

Suci

***Module-3***

In [ ]:
a=10
print(a)
b=True
c=10.5
d=4+6j
print(type(a))
print(type(b))
print(type(c))
print(type(d))

10
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'complex'>

In [ ]:
s="NACTAR"
print(s)
print(type(s))
lst=[2,3.5,9,'Suci',6]
print(lst)
print(type(lst))
tpl=(2,3.5,90,'Suchi',6)
print(tpl)
print(type(tpl))
r=range(10)
print(r)

NACTAR
<class 'str'>
[2, 3.5, 9, 'Suci', 6]
<class 'list'>
(2, 3.5, 90, 'Suchi', 6)
<class 'tuple'>
range(0, 10)

In [ ]:
r=range(10)
for i in range(10):
  print(i)
print(r)
print(type(r))

0
1
2
3
4
5
6
7
8
9
range(0, 10)
<class 'range'>

***Module-4***

In [1]:
a=15
b=25
print(a+b)

40

In [2]:
a=int(3.5)
b=float(2)
print(a)
print(b)

3
2.0

In [5]:
a=20
b=10.5
c=a+b
print(c)
print(type(c))
print(type(a))

30.5
<class 'float'>
<class 'int'>

In [6]:
a=int(input("Enter the value of a :"))
b=float(input("Enter the value of b:"))
c=a+b
print(c)

Enter the value of a : 10
Enter the value of b 20

30.0

In [7]:
d=input("What is your name : ")
print(d)

What is your name :  Farhana Akter Suchi

Farhana Akter Suchi

In [9]:
print("My name is: ",d)

My name is:  Farhana Akter Suchi

In [10]:
a=10
b=20
c="Hello Suci"
a,d,b=b,a,c
print("After swaping the values are : ")
print(a)
print(d)
print(b)

After swaping the values are :
20
10
Hello Suci

In [12]:
a=b=c=d=20
print(a)
print(b)
print(c)
print(d)

20
20
20
20

In [14]:
Farhana_Akter_Suci="B190305001"
print(Farhana_Akter_Suci)

B190305001

operators:
1.
arithmetic operator2.

assignment operat3.or

comparison oper4.ator

logical op5.erator

identity 6.operator

membershi7.p operator

bitwise operator

In [16]:
a=int(input("Enter the value of a :"))
b=int(input("Enter the value of b :"))
c=a%b
print("The reminder is: ",c)

Enter the value of a : 21
Enter the value of b : 5

The reminder is:  1

a=int(input("Enter the value of a : "))
b=int(input("Enter the value of b : "))
e=a**b
print("The result is: ",e)

Floor Division

In [21]:
a=int(input("Enter the value of a : "))
b=int(input("Enter the value of b : "))
c=a//b
print("Floor Division is : ",c)

Enter the value of a :  20
Enter the value of b :  3

Floor Division is :  6

***Module-5***

In [2]:
a=6
a&=5 # a=a&8
b=8
print(a)

4

Python Comparison Operator
1. ==
2. !=
3. <
4. >
5. >=
6. <=

a=int(input("Enter a : "))
b=int(input( "Enter b : "))
if a>b :
    print("a is larger")
    print("Block is executed")

Control statement
-Conditional control statement
   if, elif,else
-loop control statement 
  for

In [8]:
a=int(input(" Enter Radius  : "))
area=(a*a)*3.1426
print("Area of circle is ",area)

 Enter Radius  :  5

Area of circle is  78.565

In [10]:
pi=3.1416
r=float(input("Enter the value of radius : "))
area=pi*r*r
area=f"area={area:.2f}"
print(area)

Enter the value of radius :  4

area=50.27

In [12]:
pi=3.1416
r=float(input("Enter the radius : "))
area=pi*(r*r)
area=f"Area is {area:.5f}"
print(area)

Enter the radius :  4

Area is 50.26560

In [13]:
a=10
b=20
if a>b:
    print("a is larger")
else:
    print ("b is larger")

b is larger

and
or
not

In [14]:
a=200
b=33
c=500
if a>b and c>a:
    print("Both conditions are true")

Both conditions are true

In [15]:
a=200
b=33
c=500
if a>b and c>a and b<c:
    print("All conditions are true")

All conditions are true

In [16]:
a=200
b=33
c=500
d=40
if a>b and c>a or b>c:
    print("All conditions are true")

All conditions are true

In [18]:
discount=0
amount=1200
if amount > 1000:
    discount = amount * 10/100
print(f"{amount} Amount = {amount-discount}")

1200 Amount = 1080.0


***Module-5***

In [5]:
a=int(input("Enter the number: "))
if a<50:
    print(f"{a} is less than 50")
    if a<30:
        print(f"{a} is less than 30")
        if a< 25:
            print(f"{a} is less than 25")
else:
    print("No condition is true above")

Enter the number:  20

20 is less than 50
20 is less than 30
20 is less than 25

In [8]:
a=int(input("Enter any number : "))
if a%3 ==0:
    if a%2 ==0 :
        print(f"{a} is divisible by both 2 and 3")
    print(f"{a} is divisible by only 3")
else:
    print(f"{a} can be divisible neither 2 nor 3 ")

Enter any number :  15

15 is divisible by only 3

In [11]:
marks=int(input("Enter Marks : "))
if (marks >=80 and marks <=100):
    print("Congratulations! You get A+")
elif( marks>=70 and marks <=79 ):
    print("You get A")
else:
    print("Sorry! You are not elegible for this exam")

Enter Marks :  45

Sorry! You are not elegible for this exam

Match Case Statement

In [13]:
def http_status(n):
    match n:
        case 'a':
            return "OK"
        case 'b':
            return "Not Found"
        case 500:
            return "Internal Server Error"
        case _:
            return "Unknown Status"

# Example usage:
n = 200
print(http_status(n))  # Output: Not Found

Unknown Status

In [16]:
def result(n):
    match n:
      case 80:
           print("You got A+")
      case 70:
           print("You got A")
      case _:
           print("You are not elegible for this exam")


result(80)

You got A+

***Module-6***

Loop Control Statement
-while
-for

In [1]:
i=0
while i<10:
    print("Nactar")
    i=i+1

Nactar
Nactar
Nactar
Nactar
Nactar
Nactar
Nactar
Nactar
Nactar
Nactar

In [2]:
i=1
s=0
while i<=5:
    s=s+i
    print("s=",s,end=" ")
    print("i=",i)
    i=i+1

print("summation=",s)

s= 1 i= 1
s= 3 i= 2
s= 6 i= 3
s= 10 i= 4
s= 15 i= 5
summation= 15

In [3]:
i=1
while i<10:
    if i==6:
        break
    print(i)
    i+=1

1
2
3
4
5

In [5]:
var=10
while var >0 :
    print('Current variable value : ',var)
    var=var-1
    if var==5:
        break
print('\nGood Bye!')

Current variable value :  10
Current variable value :  9
Current variable value :  8
Current variable value :  7
Current variable value :  6

Good Bye!

***Module-7***

Loop Control Statement 
1.While
2.For

In [2]:
i=0
while i <10:
    print("Nactar")
    i+=1

Nactar
Nactar
Nactar
Nactar
Nactar
Nactar
Nactar
Nactar
Nactar
Nactar

In [4]:
i=10
while i>1:
    print("Nactar", end=" ")
    i=i-1

Nactar Nactar Nactar Nactar Nactar Nactar Nactar Nactar Nactar

In [5]:
i=0
while i<100:
    print(i,end=" ")
    i=i+2

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [6]:
i=1
while i <=100:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [8]:
#Print odd number using while loop(1 to 100)
i=1
print("Odd number is : ")
while i<100:
    
    if i%2 !=0:
        print(i,end=" ")
    i+=1

Odd number is :
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [13]:
##Summation of number up to n
n=int(input("Enter the number : "))
i=1
s=0
while i <= n:
          s+=i
          i+=1
print(s)

Enter the number :  5

15

In [14]:
#Break statement
i=1
while i<10:
    if i==6:
        break
    print(i)
    i=i+1

1
2
3
4
5

In [16]:
var=10
while var >0:
    print("Current variable value : ",var)
    var=var-1
    if var==5:
        break
print("Good Bye")

Current variable value :  10
Current variable value :  9
Current variable value :  8
Current variable value :  7
Current variable value :  6
Good Bye

***Class-8***

**1.breaks and continue with while and for loops
2.Details for loops**

In [18]:
i=0
while i<10:
    i+=1
    if i==5:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 10

In [19]:
i=0
while i<10:
    i+=1
    if i==5:
        break
    print(i,end=" ")

1 2 3 4

In [20]:
s="Farhana Akter Suci"
for i in range(5):
    print(i," ",s)

0   Farhana Akter Suci
1   Farhana Akter Suci
2   Farhana Akter Suci
3   Farhana Akter Suci
4   Farhana Akter Suci

In [22]:
s="Suchi"
for i in s:
    print(i)

S
u
c
h
i

In [25]:
#s[0]='K'
print(s[0])

S

***Class-9***

In [26]:
for suci in range(10):
    print(suci,end=" ")

0 1 2 3 4 5 6 7 8 9

In [28]:
for farha in range(10,30,5):
    print(farha,end=" ")

10 15 20 25

In [31]:
for suci in range(52,30,-7):
    print(suci,end=" ")

52 45 38 31

In [37]:
num=1
for num in range(2, 30,num**num ):
   print (num, end=' ')

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

In [38]:
tpl=(19,20,30,40,50,60,70,80,90,100)
for i in tpl:
    print(i,end=" ")

19 20 30 40 50 60 70 80 90 100

In [43]:
family=['Suchi','Majeda','Ajmir','Aminul','Sumi']
print("Here is my family members: ",end=" ")
for i in family:
    print(i, end=", ")

Here is my family members:  Suchi, Majeda, Ajmir, Aminul, Sumi,

In [ ]:
def ln(arr, target):
   for index, value in enumerate(arr):
     if value==target:
       return index
   return -1

arr=[10,12,34,56,78,34,56,89,90,100,78]
lst=[45,56,78,8,90,23,45]
target=124
result=ln(lst,target)

if result ==-1:
  print(f"element found at index {result} ")
else:
  print("element not found")

In [69]:
#linear search using list
def LinearSearch(lst,target):
    for index,value in enumerate(lst):
        if value==target:
            return index
    return -1
        
lst=[45,56,78,8,90,23,55]
print(f"Summation of list is : {sum(lst)}")
target=int(input("Enter the number : "))
result=LinearSearch(lst,target)
if result==-1:
    print("Element not found")
    
else:
    print(f"element found at index:  {result}")

Summation of list is : 355

Enter the number :  55

element found at index:  6

In [53]:
f=[1,2,4,7,8,9]
for x,y in enumerate(f):
  print(x,y)

0 1
1 2
2 4
3 7
4 8
5 9

In [59]:
#access with sliceer
lst1=[3,5,6,7,8,9,11,34]
lst2=['shafiqul','sirajul','ajoy barura','oysi']
print("print list item on index =",lst1[1:])
print("print list item on index =",lst1[1:4])
print("print list item on index =",lst1[:4])
print("print list item on index =",lst1[:])
print("print list item on index =",lst1[3:6])

print("print list item on index =",lst1[-1:])
print("print list item on index =",lst1[-4:-1])
print("print list item on index =",lst1[-4:-1:2])

print list item on index = [5, 6, 7, 8, 9, 11, 34]
print list item on index = [5, 6, 7]
print list item on index = [3, 5, 6, 7]
print list item on index = [3, 5, 6, 7, 8, 9, 11, 34]
print list item on index = [7, 8, 9]
print list item on index = [34]
print list item on index = [8, 9, 11]
print list item on index = [8, 11]