operators, if  and
 if
 else
logical operator ,and or , not

 today's lecture

 1. nested if
 2. elif
 3.nested else if

In [ ]:
a=15
b=50
c=35


if not(a>b and a>c):
  print("block is executed")



a=True
b=False

print(not(a))
print(not(b))

block is executed
False
True

In [ ]:
a=15


if not a<18:
  print("inside if block")
  print("a is less than 18")
else:
  print("ouside if block")

ouside if block

In [ ]:
a=100


if a<50:
  print("a is less than 50")
  if a<30:
    print("a is less than 30")
    if a<25:
      print("a is less than 25")
else:
  print("no conditon is true above")

no conditon is true above

In [ ]:
a=int(input("enter any number"))

if a%2==0:

  if a%3==0:

      print("divisible by 2 and 3")

  print("divisible by only 2 ")
else:
  print("not divis")

enter any number45

elif:
**bold text**

In [ ]:
marks=int(input("enter any "))

if marks>=80 and marks<=100:
          print("your reslutis=A+")
elif marks>=70 and marks<80:
          print("your reslutis=A")


else:
          print("not a valid number")

enter any 101
not a valid number



match case statement:

In [ ]:
def http_status(n):
    match n:
        case 200:
            return "OK"
        case 404:
            return "Not Found"
        case 500:
            return "Internal Server Error"
        case _:
            return "Unknown Status"

# Example usage:
n = 200
print(http_status(n))  # Output: Not Found

OK

In [ ]:
def http_status(n):
    match n:
        case 'a':
            return "OK"
        case :
            return "Not Found"
        case 500:
            return "Internal Server Error"
        case _:
            return "Unknown Status"

# Example usage:
n = 200
print(http_status(n))  # Output: Not Found