1.list acess
2. chnage item
3. add item
4.remove
5. list lopping
6.sort
7.copy list
8.join list
9.list comprehesion

access list

1.indexing

2.negetive indexing

3. slicing opearator

In [3]:
#access indexing
lst1=[3,5,6,7,8,9,11,34]
lst2=['shafiqul','sirajul','ajoy barura','oysi']
list3=[3,5,6,'thisvalue is string']
print("print list item on index 3=",lst2[3])
print("print list item on index 3=",lst2[3])

print list item on index 3= oysi

In [6]:
#access with negetive
lst1=[3,5,6,7,8,9,11,34]
lst2=['shafiqul','sirajul','ajoy barura','oysi']
print("print list item on index =",lst1[-3])

print list item on index = 9

:

In [17]:
#access with sliceer
lst1=[3,5,6,7,8,9,11,34]
lst2=['shafiqul','sirajul','ajoy barura','oysi']
print("print list item on index =",lst1[1:])
print("print list item on index =",lst1[1:4])
print("print list item on index =",lst1[:4])
print("print list item on index =",lst1[:])
print("print list item on index =",lst1[3:6])

print("print list item on index =",lst1[-1:])

print list item on index = [5, 6, 7, 8, 9, 11, 34]
print list item on index = [5, 6, 7]
print list item on index = [3, 5, 6, 7]
print list item on index = [3, 5, 6, 7, 8, 9, 11, 34]
print list item on index = [7, 8, 9]
print list item on index = [34]

In [27]:
lst1=[3,5,6,7,8,9,11,34]
d=['sirajul','ajoy barura','oysi','kkk','jjjj']


lst1[2:5]=d
print(lst1)

[3, 5, 'sirajul', 'ajoy barura', 'oysi', 'kkk', 'jjjj', 9, 11, 34]

In [31]:
#slicing opearator
lst1=[3,5,6,7,8]
lst2=['shafiqul', 'sirajul', 'ajoy barura']

print(lst1)
list3=lst1+lst2
print(list3)

[3, 5, 6, 7, 8]
[3, 5, 6, 7, 8, 'shafiqul', 'sirajul', 'ajoy barura']

adding item using method:
1.append()
2.insert()
3.extend()

In [36]:
lst1=[3,5,6,7,8]
lst2=['shafiqul', 'sirajul', 'ajoy barura']
lst2.append('hello')
print(lst2)

lst1.insert(3,90)#insert(index,value)
print(lst1)

lst1.extend(lst2)
print(lst1)

['shafiqul', 'sirajul', 'ajoy barura', 'hello']
[3, 5, 6, 90, 7, 8]
[3, 5, 6, 90, 7, 8, 'shafiqul', 'sirajul', 'ajoy barura', 'hello']

removing item from list:
1.remove() # lst1.remove(), lst1.remove('rghrj')


2.pop() method  #pop() ,  pop(index)


3.clear() method  # lst1.clear()


4.del keyword #  del lst[index]

In [51]:
lst1=[3,5,6,7,8]
lst2=['shafiqul', 'sirajul', 'ajoy barura']
print(lst1)
print(lst2)
lst1.remove(7)
print("after remove=",lst1)
lst1=[3,5,6,7,8]

lst1.pop()
print("after pop=",lst1)
lst1.clear()
print(lst1)
del lst2[1:3]
print(lst2)

[3, 5, 6, 7, 8]
['shafiqul', 'sirajul', 'ajoy barura']
after remove= [3, 5, 6, 8]
after pop= [3, 5, 6, 7]
[]
['shafiqul']

In [59]:
lst1=[3,5,6,7,8]
lst2=['shafiqul', 'sirajul', 'ajoy barura']
del lst1[2:4]
print(lst1)
del lst2[:2]
print(lst2)

[3, 5, 8]
['ajoy barura']